.background__up {
  width: 100vw;
  height: 60vh;
  background: rgb(182, 176, 255);
  background: linear-gradient( 90deg, rgba(182, 176, 255, 1) 0%, rgba(230, 230, 255, 1) 100%  );
}
.background__down {
  height: 40vh;
}
.background__wave {
  width: 100vw;
  height: 90vh;
  background: url("../_assets/wave.svg") no-repeat center center;
  position: absolute;
  bottom: 50%;
  transform: translateY(55%);
}
.background_img.login {
  position: absolute;
  right: 3%;
  bottom: 5%;
  width: 45vw;
  height: 50vh;
  background: url("../_assets/bckgrnd_img_1.svg") no-repeat right bottom;
  background-size: contain;
}

.card.login {
  max-width: 28rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.background_img.cadastro {
  position: absolute;
  right: 5%;
  bottom: 5%;
  width: 50vw;
  height: 50vh;
  background: url("../_assets/bckgrnd_subscribe.svg") no-repeat right bottom;
  background-size: contain;
}

.card.cadastro {
  width: 40rem;
  height: 75vh;
  padding: 4rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .card.login {
    width: 90%;
  }
  .background__down,
  .background__wave,
  .background_img {
    display: none;
  }
  .background__up {
    height: 100vh;
  }
  .card.cadastro {
    width: 90%;
    height: 90vh;
    padding: 2rem;
  }
}

@media screen and (max-width: 1200px) {
  .background_img.login {
    background-image: url("../_assets/bckgrnd_img_2.svg");
  }
}