<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="shortcut icon" href="/assets/fintech.ico" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous" />
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
  <link rel="stylesheet" href="./style/color_primary.css" />
  <link rel="stylesheet" href="./style/color_secondary.css" />
  <link rel="stylesheet" href="style/login.css" />
  <title>Fintech - Te ajudando a realizar suas metas financeiras</title>
</head>

<body>
  <main>
    <div id="background" class="background">
      <div class="background__up"></div>
      <div class="background__down"></div>
      <div class="background__wave"></div>
      <div class="background_img login"></div>
    </div>

    <div id="card" class="card shadow login p-4">

      <div class="card-body pt-0">
        <img src="assets/ft_logo_hor.svg" alt="Logo Fintech" class="mx-auto d-block pt-3" />
        <p class="card-title text-center fs-3 text-muted pt-3">
          Te ajudando a realizar suas metas financeiras
        </p>
      </div>

      <form class="row g-3 needs-validation">
        <div class="col-12">
          <label for="email" class="form-label">E-mail</label>
          <input type="email" class="form-control" id="email" placeholder="nome@email.com.br" required>
        </div>
        <div class="col-12">
          <label for="password">Senha</label>
          <div class="input-group">
            <input type="password" class="form-control" id="password" required />
            <span class="input-group-text" type="button">
              <i class="bi bi-eye-slash"></i>
              <!-- <a href=""><i class="bi bi-eye" aria-hidden="true"></i> -->
            </span>
          </div>
        </div>
        <div class="col-12">
          <div class="form-text text-end">
            <a href="#" class="text-primary fs-6 text-decoration-none">Esqueci minha senha</a>
          </div>
        </div>

        <div class="col-12 d-grid gap-2 py-4">
          <button class="btn btn-primary btn-lg" type="submit">Entrar</button>
        </div>
      </form>

      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        Usuário ou senha incorretos!
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>

      <div class="text-center">
        <a href="#" class="text-primary text-decoration-none">Não tenho cadastro</a>
      </div>

    </div>
  </main>

  <script>
    window.addEventListener("load", () => {
      const eyeButton = document.querySelector(".input-group-text .bi");
      const passInput = document.querySelector("#password");
      console.log(eyeButton);

      eyeButton.addEventListener("click", evt => {
        if (passInput.getAttribute("type") == "text") {
          console.log("text");
          passInput.setAttribute("type", "password");
          eyeButton.classList.remove("bi-eye");
          eyeButton.classList.add("bi-eye-slash");
        } else if (passInput.getAttribute("type") == "password") {
          console.log("password");
          passInput.setAttribute("type", "text");
          eyeButton.classList.remove("bi-eye-slash");
          eyeButton.classList.add("bi-eye");
        }
      })
    });
  </script>

  <script src=""></script>

</body>

</html>